.App {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Cards */
.card{
  background-color: #fff;
  flex: 0 0 70%;
  height: 80%;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 0px 4px #fff, 0px 0px 0px 4px #ccc;
}


/*  Input */


.search{
 margin: 0.5rem 0rem;
  width: 100%;
}

.input{
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  border: none;
  border-bottom: 1px solid #ccc;
}

.input:active, .input:focus{
  outline: none;
  border-bottom: 2px solid #000;
}

/* ====================================================== */


/* Student List */

.list{
  overflow: scroll;
}

.list::-webkit-scrollbar{
  display: none;
}

.list_item{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

.list_item_avatar_wrap{
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list_item_avatar_wrap{
  margin-right: 1rem;
}

.list_item_avatar{
  width: 60%;
  height: 60%;
}

.list_item_text_wrap{
  display: flex;
  flex: 0 0 90%;
}

.list_item_info_text{
  flex: 0 0 70%
}

ul{
  list-style: none;
  color: #919191;
}
.list_item_info_subtext_list{
  list-style: none;
  color: #919191;
}

.subtext_item:nth-child(1){
  margin-right: 0.5rem;
}

.subtext{
  padding: 0.5rem;
}

.left{
  margin-right: 0.5rem;
}

.right{
  margin-left: 0.5rem;
}

/* ===================================== */
/*  Grades */
.grades{
  margin: 0.5rem 0rem;
}

.btn{
  border: none;
  color: #000;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.2rem;
  margin-right: 0.5rem;
}

.tag{
  width: 50%;
}

/* =========================================== */


/* Expand */
.expand{
  font-size: 2.5rem;
}

.expand_btn{
  cursor: pointer;
  display: flex;
  color: #ccc;
  justify-content: center;
  align-items: center;
}

.expand_btn:hover{
  color: #000;
}